<html>
<body>
<div>
    <form method="post" action="/store/order/add">
        <input type="text" name="ids" placeholder="ID" />
        <button type="submit">Add</button>
    </form>
</div>
<form method="get" action="/store/order/get">
    <button type="submit">Get</button>
</form>
</body>
</html>